.characterInfo {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 11%;
  left: 35%;
  width: 400px;
  height: 350px;
  z-index: 1000;
  background-color: #354a35;
  color: rgb(109 253 0);
  border: 2px solid rgb(193, 243, 182);
  border-radius: 10px;
  box-shadow: 3px 3px 11px 3px rgb(58 149 64);
}

.characterInfo__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.characterInfo__info img {
  width: 100px;
  border: 2px solid rgb(193, 243, 182);
  box-shadow: 3px 3px 11px 3px rgb(58 149 64);
  border-radius: 10px;
}

.characterInfo__bar--hp {
  width: 260px;
  height: 30px;
  border: 2px solid #ff3535;
  background-color: #c30000;
  margin-bottom: 10px;
  letter-spacing: 5px;
  line-height: 28px;
  font-size: 26px;
  text-align: center;
}

.characterInfo__bar--anotherStats {
  display: flex;
  align-items: center;
  width: 260px;
  height: 30px;
}

.characterInfo__effects {
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid rgb(193, 243, 182);
  border-bottom: 2px solid rgb(193,243,182);
  box-shadow: 3px 3px 11px 3px rgb(58 149 64);
  margin-top: 30px;
}

.characterInfo__effects--positive {
  border-right: 2px solid rgb(193, 243, 182);
  padding-right: 30px;
}

.characterInfo__bar--stat {
  color: rgb(207, 191, 191);
  margin-right: 10px;
  border: 2px solid rgb(193,243,182);
  box-shadow: 3px 3px 11px 3px rgb(58 149 64);
  padding: 3px;
}

.characterInfo__bar--temp {
  color: rgb(116, 182, 239);
  margin-left: 10px;
}
.characterInfo__bar--wet {
  color: rgb(61, 76, 235);
  margin-left: 10px;
}
.characterInfo__bar--stamina {
  color: rgb(109 253 0);
  margin-left: 5px;
}