.characterInfo {
  display: none;
  opacity: 0;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 25%;
  margin-right: 15px;
  width: 400px;
  height: 350px;
  z-index: 1000;
  background-color: #354a35;
  color: rgb(109 253 0);
  border: 2px solid rgb(193, 243, 182);
  border-radius: 10px;
  box-shadow: 3px 3px 11px 3px rgb(58 149 64);
  transition: 1s linear all;
  animation: choiseOpacity 2s 1;
}

.characterInfo__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.characterInfo__info img {
  width: 100px;
  border: 2px solid rgb(193, 243, 182);
  box-shadow: 3px 3px 11px 3px rgb(58 149 64);
  border-radius: 10px;
}

.characterInfo__bar--hp {
  width: 260px;
  height: 30px;
  border: 2px solid #ff3535;
  border-radius: 13px;
  margin-bottom: 20px;
  letter-spacing: 5px;
  line-height: 28px;
  font-size: 26px;
  text-align: center;
  position: relative;

}

.characterInfo__bar--hp::after {
  content: '100%';
  position: absolute;
  width: 12px;
  height: 12px; 
  top: 0;
  right: 58%;
}

.characterInfo__bar--activeHP {
  width: 256px;
  height: 26px;
  background-color: #c30000;
  border-radius: 10px;
}

.characterInfo__bar--anotherStats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 260px;
  height: 30px;
}

.characterInfo__effects {
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid rgb(193, 243, 182);
  border-bottom: 2px solid rgb(193,243,182);
  box-shadow: 3px 3px 11px 3px rgb(58 149 64);
  margin-top: 30px;
  letter-spacing: 3px;
}

.characterInfo__effects--positive {
  border-right: 2px solid rgb(193, 243, 182);
  width: 42.4%;
}

.characterInfo__bar--stat {
  width: 100%;
  cursor: pointer;
  color: rgb(207, 191, 191);
  margin-right: 10px;
  border: 2px solid rgb(193,243,182);
  box-shadow: 3px 3px 11px 3px rgb(58 149 64);
  padding: 3px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}
.characterInfo__bar--stat:last-child {
  margin-right: 0;
}

/* .characterInfo__bar--stat:hover {
  border: 2px solid rgb(4, 82, 170);
  box-shadow: 3px 3px 11px 3px rgb(42, 119, 220);
} */

.characterInfo__bar--temp {
  color: rgb(116, 182, 239);
}
.characterInfo__bar--wet {
  color: rgb(61, 76, 235);
  margin-left: 10px;
}
.characterInfo__bar--stamina {
  color: rgb(109 253 0);
  margin-left: 5px;
}

.characterInfo__state {
  letter-spacing: 3px;
  border-bottom: 2px solid rgb(193, 243, 182);
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-between;
}

.characterInfo__state--positive {
  border-right: 2px solid rgb(193, 243, 182);
}

.characterInfo__state--positive, .characterInfo__state--negative {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  width: 50%;
  padding: 10px;
}

.characterInfo__state--positive span, .characterInfo__state--negative span {
  cursor: pointer;
  margin-right: 10px;
}

.characterInfo__close {
  width: 100%;
  text-align: center;
}

.characterInfo__close a {
  line-height: 48px;
  letter-spacing: 5px;
  font-size: 25px;
  text-decoration: none;
  color: inherit;
  opacity: 0.5;
  transition: 400ms linear all;
}

.characterInfo__close a:hover {
  opacity: 1;
  transition: 400ms linear all;
}

.statHint {
  width: 140px;
  height: 50px;
  background-color: #354a35;
  opacity: 0.8;
  position: absolute;
  top: 125px;
  right: 165px;
  border-radius: 10px;
  border: 2px solid rgb(4, 82, 170);
  box-shadow: 3px 3px 11px 3px rgb(42, 119, 220);
  text-align: center;
}