.previewItem {
  display: none;
  width: 350px;
  margin-bottom: 50px;
  margin: 115px auto;
}

.previewItem__image {
  width: 100%;
  opacity: 0.8;
  filter: brightness(0.5);
  animation: choiseOpacity 2s 1;
  transition: linear 0.4s all;
}

.previewItem__image:hover {
  opacity: 1;
  filter: brightness(0.8);
  animation: choiseOpacity 2s 1;
  transition: linear 0.4s all;
}