@import url(preHistory.css);
@import url(information.css);
@import url(tapBar.css);
@import url(elea.css);
@import url(inventory.css);
@import url(familySheet.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(23, 21, 21);
  font-family: "Bebas Neue", cursive;
  user-select: none;
}

.help {
  display: none;
  color: white;
  border: 2px solid rgb(193, 243, 182);
  box-shadow: 3px 3px 11px 3px rgb(58, 149, 64);
  width: 300px;
  height: 90px;
  margin: 0 auto;
  animation: choiseOpacity 2s 1;
  transition: linear 0.4s all;
  text-align: center;
  font-size: 19px;
  color: rgb(98, 161, 2);
  background-color: #031a03;
  border-radius: 25px;
}

.mainContent {
  flex-direction: column;
  justify-content: end;
  height: 100vh;
  display: none;
  animation: choiseOpacity 2s 1;
  transition: linear 0.4s all;
}

.textBtns {
  padding-bottom: 50px;
}

.text {
  margin: 20px auto;
  max-width: 800px;
  color: rgb(109 253 0);
  background-color: #354a35;
  font-size: 22px;
  border-radius: 10px;
  letter-spacing: 4px;
  text-align: center;
  animation: choiseOpacity 2s 1;
}

.buttons {
  max-width: 800px;
  background-color: #354a35;
  border: 2px solid rgb(193, 243, 182);
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 3px 3px 11px 3px rgb(58, 149, 64);
  padding:  5px 30px 15px;
}

.buttons button {
  display: block;
  background-color: inherit;
  padding-top: 10px;
  border: 0;
  color: rgb(118 161 84);
  font-size: 22px;
  cursor: pointer;
  animation: choiseOpacity 2s 1;
  transition: linear 0.4s all;
}

.buttons button:hover {
  transform: scale(1.1);
  transition: linear 0.2s all;
  color: rgb(107, 219, 73);
}

@keyframes choiseOpacity { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.scareOpa {
  animation: scareOpacity 2s 1;
  transition: linear 0.2s all;
}

@keyframes scareOpacity { 
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.7;
  }
  40% {
    opacity: 0.2;
  }
  60% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.7;
  }
}

.hightTempEffectCss {
  animation: hightTempEffect 2s infinite;
}

@keyframes hightTempEffect {
  0% {
    box-shadow: -2px 0px 42px 0px rgb(225 76 0);
  }
  50% {
    box-shadow: -2px 0px 42px 10px rgb(225 76 0);
  }
  100% {
    box-shadow: -2px 0px 42px 0px rgb(225 76 0);
  }
}