* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(23, 21, 21);
  font-family: "Bebas Neue", cursive;
  user-select: none;
}

.preHistory {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 30px;
  padding: 100px;
  animation: choiseOpacity 2s 1;
  transition: linear 0.4s all;
}

.preHistory p {
  overflow-wrap: break-word;
}

.next {
  margin: 0 auto;
  cursor: pointer;
  border: 2px solid rgb(53, 62, 53);
  border-radius: 20px;
  padding: 10px 15px;
}

.next:hover {
  color: cadetblue;
  background-color: aquamarine;
}

.mainContent {
  width: 600px;
  margin: 0 auto;
  padding-top: 40px;
  display: none;
}

.mainContent img {
  border-radius: 40px;
}

.text {
  color: rgb(129, 149, 149);
  padding: 20px 0;
  font-size: 22px;
  letter-spacing: 4px;
  text-align: center;
  animation: choiseOpacity 2s 1;
}

.buttons button {
  display: block;
  margin: 20px auto;
  border: 0;
  padding: 20px;
  background-color: rgb(23, 21, 21);
  color: rgb(85, 100, 73);
  font-size: 16px;
  cursor: pointer;
  border-radius: 25%;
  border-color: rgb(205, 242, 185);
  border: 2px solid rgb(193, 243, 182);
  animation: choiseOpacity 2s 1;
  transition: linear 0.4s all;
}

.buttons button:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 11px 3px rgb(58, 149, 64);
  transition: linear 0.4s all;
  color: rgb(107, 219, 73);
}

@keyframes choiseOpacity { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}