.aboutUs {
  display: none;
}

.settings {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.settings label{
  color: rgb(198, 78, 22);
}

.settings select {
  width: 200px;
  margin: 50px 0;
  color: rgb(198, 78, 22);
  background-color: rgb(40, 14, 25);
  border: 0;
  padding: 10px 0;
}

.settings select:focus{
  outline:none
}

.settings input {
  width: 120px;
}

.setting_volume {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.back__to__menu {
  font-size: 34px;
  color: rgb(198, 78, 22);
  text-decoration: none;
  opacity: 0.5;
  transition: 1s linear;
  background-color: rgb(40, 14, 25);
  padding: 10px;
  border: 2px solid rgb(100, 6, 47);
  border-radius: 20px;
}

.back__to__menu:hover {
  opacity: 1;
  transition: 1s linear;
}