.aboutUs {
  display: none;
  padding-top: 100px;
}

.aboutUs__container {
  margin: 100px auto;
  color: rgb(198, 78, 22);
  text-align: center;
}

.aboutUs__container a {
  color: rgb(167, 21, 21);
  font-size: 50px;
}

.aboutUs__container p {
  padding-top: 15px;
}

.settings {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.settings label{
  color: rgb(198, 78, 22);
}

.settings select {
  width: 200px;
  margin: 50px 0;
  color: rgb(198, 78, 22);
  background-color: rgb(40, 14, 25);
  border: 0;
  padding: 10px 0;
}

.settings select:focus{
  outline:none
}

.settings input {
  width: 120px;
}

.setting__volume {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.backToMenu {
  text-align: center;
  font-size: 34px;
  display: block;
  color: rgb(198, 78, 22);
  text-decoration: none;
  opacity: 0.5;
  transition: 1s linear;
  background-color: rgb(40, 14, 25);
  padding: 10px;
  border: 2px solid rgb(100, 6, 47);
  border-radius: 20px;
  margin: 0 auto;
  width: 300px;
}

.backToMenu:hover {
  opacity: 1;
  transition: 1s linear;
}