.itemsBracer {
  width: 100px;
  position: absolute;
  top: 30px;
  right: 30px;
  transition: linear 0.2s all;
  opacity: 0.7;
  cursor: pointer;
}

.itemsBracer:hover {
  transform: scale(1.1);
  transition: linear 0.2s all;
  opacity: 1;
}

.inventory__menu {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 300px;
  height: 500px;
  top: 160px;
  left: -300px;
  border: 2px solid rgb(193, 243, 182);
  box-shadow: 3px 3px 11px 3px rgb(58, 149, 64);
  margin: 0 auto;
  transition: linear 0.4s all;
  background-color: #031a03;
}

.invetory__menu-slot {
  padding-top: 10px;
  width: 50%;
  height: 125px;
  border: 1px solid rgba(1, 71, 1, 0.412);
}

.invetory__menu-slotImg {
  display: none;
  margin: 0 auto;
  width: 60%;
  height: 90%;
  border-radius: 25px;
  border: 2px solid rgb(193, 243, 182);
  box-shadow: 3px 3px 11px 3px rgb(58, 149, 64);
  cursor: pointer;
  filter: grayscale(100%);
}

.invetory__menu-slotImg:hover {
  filter: grayscale(0%);
}

.inventoryOpenItem {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  right: 0;
  z-index: 1000;
  animation: choiseOpacity 2s 1;
  transition: linear 0.4s all;
}

.inventoryOpenItem img {
  width: 100px;
  height: 150px;
  margin-top: 160px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.inventoryOpenItem p {
  width: 310px;
  color: greenyellow;
  text-align: center;
}

.inventoryCloseItem {
  width: 290px;
  height: 50px;
  background-color: #354a35;
  color: rgb(118 161 84);
  margin-top: 20px;
  text-align: center;
}

.inventoryCloseItem:hover {
  transform: scale(1.1);
  color: rgb(107, 219, 73);
}


@keyframes choiseOpacity { 
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
