@font-face {
  font-family: 'Varino';
  src: url(../fonts/VarinonormalRegular-1GXaM.ttf);
}

.preHistory {
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  color: white;
  font-size: 30px;
  padding: 30px 50px;
  animation: choiseOpacity 2s 1;
  transition: linear 0.4s all;
  width: 900px;
  border: 2px solid rgb(193, 243, 182);
  background-color: #031a03;
  border-radius: 10%;
  height: 65vh;
  color: rgb(98, 161, 2);
}

.preHistory__startTerminal {
  margin: 230px auto;
  cursor: pointer;
  font-size: 55px;
  letter-spacing: 10px;
}

.preHistory__startTerminal:hover {
  color: rgb(193, 243, 182);
}

.companyName {
  display: none;
  font-family: 'Varino', sans-serif;
  color: rgb(135, 225, 0);
  padding-bottom: 20px;
  animation: choiseOpacity 2s 1;
  transition: linear 0.4s all;
}

.preHistory pre {
  display: none;
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 16px;
  font-family: 'Press Start 2P', cursive;
}

.next {
  display: none;
  margin: 0 auto;
  background-color: #031a03;
  width: 20%;
  text-align: center;
  padding: 20px 60px;
  color: rgb(85, 100, 73);
  font-size: 22px;
  cursor: pointer;
  border-radius: 25%;
  border-color: rgb(205, 242, 185);
  border: 2px solid rgb(193, 243, 182);
  animation: choiseOpacity 2s 1;
  transition: linear 0.4s all;
}

.next:hover {
  transform: scale(1.2);
  box-shadow: 3px 3px 11px 3px rgb(58, 149, 64);
  transition: linear 0.4s all;
  color: rgb(107, 219, 73);
}