.prepare {
  position: absolute;
  font-size: 50px;
  color: rgb(141, 91, 91);
  top: 300px;
}

.prepare__choise {
  display: flex;
  justify-content: space-around;
}

.prepare__choise a {
  color: #d25e5e;
  font-size: 50px;
  text-decoration: none;
  transition: 500ms;
  width: 50%;
  text-align: center;
}

.prepare__choise a:hover {
  color: #a40000;
  transition: 500ms;
  transform: scale(1.2);
}

.prepare__choise a:hover:last-child {
  
}