.settings {
  display: none;
}

.setting__language {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 220px;
}

.setting__language p {
  color: rgb(198, 78, 22);
}

.settings__range {
  -webkit-appearance: none;
  width: 55%;
  background: inherit;
}
.settings__range:focus {
  outline: none;
}
.settings__range::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgb(84, 18, 18);
  border-radius: 25px;
  border: 0px solid #000101;
}
.settings__range::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 25px;
  background: rgb(198, 78, 22);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
