* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(23, 21, 21);
  font-family: "Bebas Neue", cursive;
  user-select: none;
}

.container {
  display: flex;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
  padding-top: 200px;
}

.btn__inner {
  display: flex;
  flex-direction: column;
}

.btn {
  text-align: center;
  text-decoration: none;
  color: rgb(180, 179, 179);
  border: 1px solid rgb(180, 179, 179);
  padding: 30px 120px;
  font-size: 40px;
  border-radius: 100px;
  margin-bottom: 80px;
}

.btn:hover {
  border-color:rgb(57, 145, 64);
  box-shadow: 3px 3px 11px 3px rgb(58, 149, 64);
  transition: 200ms;
  color: rgb(41, 142, 11);
  transform: scale(1.2);
  transform-origin: 0% 0% 0px;
}