* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(23, 21, 21);
  font-family: 'Bebas Neue', cursive;
  user-select: none;
}

.container {
  width: 600px;
  margin: 0 auto;
  padding-top: 40px;
}

.text {
  color: rgb(129, 149, 149);
  padding: 40px 0;
  font-size: 22px;
  letter-spacing: 4px;
  text-align: center;
}

img {
  border-radius: 40px;
}

button {
  display: block;
  margin: 0 auto;
  background-color: rgb(23, 21, 21);
  border: 0;
  font-size: 16px;
  margin-bottom: 20px;
  color: rgb(203, 202, 199);
  cursor: pointer;
}